body {
  margin:0;
  padding:0;
  animation: bgcolor infinite 60s;
  }

  @keyframes bgcolor {
  0%
  {background: #FFBFF7;
  }
  25%
  {background: #EFBFFF;
  }
  50%
  {background: #FFBFE6;}
  75%
  {background: #F9DCFB;}
  100%
  {background: #FFBFF7;
  }
}

.headers{
  color:#75027D
  font:"Arial Black", Gadget, sans-serif;
  font-style: normal;

}

p{
  color:black;
  font: "Arial", sans-serif;
  font-size: 15px;
  margin:0;
}

.animated {
  font: 100 1em "Arial Black", Gadget, sans-serif;
  font-style: italic;
  animation: myAnimation 3s ease 1s 3 alternate forwards;
}

@keyframes myAnimation {
  80% {
    font: 100 3em "Arial Black", Gadget, sans-serif;
    font-style: italic;
  }
  100% {
    font: 900 2em "Arial Black", Gadget, sans-serif;
    font-style: italic;
  }
}

@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:-200px; top:0px;}
  75%  {left:200px; top:0px;}
  100% {left:0px; top:0px;}
}

.img {
  width: 200px;
  height: 200px;
  position: relative;
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;

}
.img2 {
  position: relative;
  animation-name: hah;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  }
  @keyframes hah {
    0%   {left:0px; top:0px;}
    50%  {left:0px; top:-4px;}
    100% {left:0px; top:0px;}
  }

  a{
    color:black;
    text-decoration: none;
  }


  a:hover {
    color:red;
  }

  img {
    max-width: 100%;
    /* width: 200px;
    height: 500px; */
  }

  .orange{
    background:orange
  }

  #orange
