body {
  margin:0;
  padding:0;
  animation: bgcolor infinite 15s;
  color:red;
  }

  @keyframes bgcolor {
  0%
  {background: #d4a8ff;
  }
  50%
  {background: #ffa3e7;}

  100%
  {background: #d4a8ff;
  }
}

.headers{
  color:#e1f5ff;
 font-family: "Tangerine", serif;
 font-size: 48px;
 text-shadow: 0 0 3px #f4a0fe, 0 0 5px #fcab40;

}

p{
  color:black;
  font: "Arial", sans-serif;
  font-size: 15px;
  margin:0;
}

  a{
    color:black;
    text-decoration: none;
  }


  a:hover {
    color:red;
  }

  .beat {
  width: 175px;
  height: 175px;
  animation: heartbeat 1.5s alternate infinite ease-in;
}




@keyframes heartbeat {
  0%   {transform: scale(.8);}
  100% {transform: scale(1.5);}
}
