body {
  margin:0;
  padding:0;
  animation: bgcolor infinite 15s;
  }

  @keyframes bgcolor {
  0%
  {background: #8AF4FE;
  }
  50%
  {background: #ECB9FF;}

  100%
  {background: #8AF4FE;
  }
}

.headers{
  color:#75027D
  font: "Shrikhand", cursive;

}

p{
  color:black;
  font: "Arial", sans-serif;
  font-size: 15px;
  margin:0;
}

  a{
    color:black;
    text-decoration: none;
  }


  a:hover {
    color:red;
  }

  .beat {
  width: 175px;
  height: 175px;
  animation: heartbeat 1.5s alternate infinite ease-in;
}

  


@keyframes heartbeat {
  0%   {transform: scale(.8);}
  100% {transform: scale(1.5);}
}
