body{
  background: rgb(255, 227, 250);
  overflow: hidden;
 height: 100vh;
 width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes flutter-left {
  0%   { transform: rotate3d(0, 1, 0, 20deg); }
  50% { transform: rotate3d(0, 1, 0, 70deg); }
  100% { transform: rotate3d(0, 1, 0, 20deg); }
}

@keyframes flutter-right {
  0%   { transform: rotate3d(0, 1, 0, -20deg); }
  50% { transform: rotate3d(0, 1, 0, -70deg); }
  100% { transform: rotate3d(0, 1, 0, -20deg); }
}

.butterfly {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0; bottom: 0; left: 0;    right: 0;
	transform-style: preserve-3d;
  transform: rotate3d(1, 0.5, 0, 110deg);
}

.left-wing, .right-wing {
  width: 24px;
  height: 42px;
  position: absolute;
  top: 10px;
}

.left-wing {
  left: 10px;
  top: 10px;
  transform-origin: 24px 50%;
  transform: rotate3d(0, 1, 0, 20deg);
  animation: flutter-left 0.3s infinite;
}

.right-wing {
  left: 34px;
  transform: rotate3d(0, 1, 0, -20deg);
  transform-origin: 0px 50%;
  animation: flutter-right 0.3s infinite;
}

.left-wing .top {
  right: 0;
}

.top, .bottom {
  background: pink;
  opacity: 0.7;
  position: absolute;
}

.top {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.bottom {
  top: 18px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}


.middle {
  background: white;
  width: 50vw;
  height: 50vh;
  padding: 20px;
  font-family: 'Modak', cursive;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto;

}
&:hover {

    background: $buttonBackground;
    color: transparentize( $buttonColor,0.8 );

  }

.title {
  width: 50vw;
  height: 50vh;
  padding: 20px;
  font-family: 'Modak', cursive;
  color: rgb(241, 84, 125);
  text-shadow: 2px 2px 8px #830549;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
