body {

  padding: 1000px 40px 0px 300px;
  border: 60px outset #ffbb00;
  color:#f5944e;
  margin:100px;
  padding:50px;
  font-family: 'Share Tech Mono', monospace;
  font-weight: bold;
  line-height: 400px;
  

}


p{
  color:#f5c56c;
  /* height: 400px; */
  /* width: 500px; */
  /* padding: 20px;
  margin: 30px; */
  font-size: 16px;
  margin:0;
}



h1 {
  margin:0;
  padding: 20px 40px 0px 300px;
  font-family: 'VT323', monospace;
  /* right top bottom left */
}
h4 {
  color:#a8481b
  margin:0;
  padding: 0px 40px 0px 300px;
  font-family: 'VT323', monospace;
  /* right top bottom left */
}
